@use './footer.scss';



body {
  color: lightblue;
  display: flex;
  background-image: linear-gradient(to bottom, #8BCC8E 0%, #A7F5AB 100%);
  backdrop-filter: blur(4px);
  h1 {
    color: orange;
  }
}

